#main-image {
    background: url(../assets/images/forgot-password-concept-illustration_114360-1095.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#forgot-password-form {
    align-items: center;
    background-color: var(--primary-gray-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 60svh;
    justify-content: center;
    margin: auto;
    padding: 1rem;
    width: 90%;
}

#forgot-password-form>input {
    border: none;
    height: 3rem;
}

#forgot-password-form>input:not(input[type=submit]) {
    padding-left: 1rem;
    width: 80%;
}

#forgot-password-submit-btn {
    background-color: var(--primary-blue-color);
    color: white;
    cursor: pointer;
    width: 60%;
}

#forgot-password-submit-btn:hover {
    background-color: var(--primary-blue-hover-color);
}
