body {
    overflow-x: hidden;
    width:100%;
}

main>div:first-child {
    background-color: var(--primary-light-pink-color);
    border-radius: 1rem;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-left: 0;
    padding: 1% 4%;
}

main>div:first-child>p{
    font-size: large;
}
main{
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 1%;
    width: 98%;
    display: flex;
    /* flex-direction: column; */
    
}
.assignedbtn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#assigned-section-btn,#completed-section-btn{
    width:100%;
    padding:3%;
    color: white;
    background-color: #973f3f;
    background-color: #325AC0;
    border-left:1px solid rgb(230, 223, 223) ;

}

.assigned,.completed{
    width:50%;
    background-color: #6b1515;
}

main>.projects-and-nav{
    border: 1px solid var(--gray-border-color);
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 60svh;
    min-width: min(900px, 70%); 
    padding: 2% 0; 
}
.userpanel{
    justify-content: flex-start;
    background-color: #fff;
}
.userpanel>p{
    margin:0;

}
#projects-container{
    display:flex;
    flex-wrap: wrap;
    gap:1rem;
    background-color: var(--primary-gray-color);
    flex:1;
    
}
.card{
    background-color: #E6E9F8;
    border:  1px solid pink;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    margin-bottom: 1rem;
    padding: 1rem;
}

.buttons{
   display:flex; 
   gap:4%;
}

.in-progress-btn{
    background-color: #C0327F;
    color:white;
    display:flex;  
}
.not-started-btn{
    background-color: #C0327F;
    color:white;
    display:flex;  
}

.complete-btn{
    background-color: #55BB72;
    color:white;
}

.footer{
    margin-top:0;
}